<div class="card mb-4">
    <div class="card-header">
        Currency Conversions
    </div>
    <div class="card-body">
        <div class="mb-3">
            Base Currency: {{base}} <a href="#" class="fas fa-pen fa-sm"></a>
        </div>
        <div data-outlet="conversions"></div>
        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fas fa-plus"></i> Add</button>
    </div>
</div>
