<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Category</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
      <tr data-symbol="{{symbol}}">
        <td>{{symbol}}</td>
        <td>{{category}}</td>
        <td><a data-action="delete" href="javascript:void(0);">X</td>
      </tr>      
    {{/each}}
  </tbody>
</table>