<div class="card mb-4">
    <div class="card-header">
        Mappings
    </div>
    <div class="card-body">
        <table class="table table-sm mb-0">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Category</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody data-outlet="mapping"></tbody>
        </table>
        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fas fa-plus"></i> Add</button>
    </div>
</div>