<div class="mb-1">
    <a href="#" class="fas fa-window-close fa-lg float-right mt-1"></a><a href="#" data-action="toggle"><i class="fas fa-chevron-down fa-sm"></i> {{name}}</a>
</div>    
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Value</th>
            <th scope="col">Currency</th>
        </tr>
    </thead>
    <tbody>
        {{#each positions}}
        <tr>
            <td>{{symbol}}</td>
            <td>${{value}}</td>
            <td>{{currency}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
