<td>{{ticker}}</td>
<td colspan="2">
    <form data-action="submit">
        <div class="input-group input-group-sm">
            <input name="description" type="text" class="form-control" value="{{description}}" placeholder="Asset Class" required>
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fas fa-check"></i></button>
            </div>
        </div>
    </form>
</td>
