{{#if info}}
<div class="alert alert-info" role="alert">
    {{info}}
</div>
{{/if}}
{{#if error}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}
<div class="card my-4">
    {{#if found}}
        <div class="card-header">
            <div class="float-right"><i class="fas fa-level-down-alt fa-sm"></i></div>
            Found on this page
        </div>
    {{/if}}
    <div class="card-body">
        {{#unless found}}
            <div>No positions found on this page &#x2639;</div>
        {{/unless}}
        {{#if includesCash}}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Include cash
                </label>
            </div>
        {{/if}}
        <div data-outlet="account"></div>
        {{#if found}}
            {{#if hasCash}}
                <div class="form-check mb-3 mt-n1">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="includeCash" value="true" {{#if includeCash}}checked{{/if}}>
                        Include cash
                    </label>
                </div>
            {{/if}}
            {{#if exists}}
                <button type="button" class="btn btn-primary btn-sm btn-block" data-action="add"><i class="fas fa-sync-alt"></i> Update Portfolio</button>
            {{else}}
                <button type="button" class="btn btn-primary btn-sm btn-block" data-action="add"><i class="fas fa-plus"></i> Add to Portfolio</button>
            {{/if}}
        {{/if}}
    </div>
</div>
