<div class="card mb-4">
    <div class="card-header">
        Currency Multipliers
    </div>
    <div class="card-body">
        <table class="table table-sm mb-0">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Multiplier</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody data-outlet="currency"></tbody>
        </table>
        <div data-outlet="form"></div>
    </div>
</div>