<form data-action="submit-base">
    <div class="input-group mb-3">
        <input name="base" type="text" class="form-control" value="{{base}}">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit"><i class="fas fa-check"></i></button>
            <a href="#" class="btn btn-danger" data-action="edit-base-cancel"><i class="fas fa-times"></i></a>
        </div>
    </div>
</form>