<h1 class="display-4 text-center mb-3">Portfolio Insight</h1>
<div class="row">
    <div class="col-sm" data-outlet="accounts"></div>
    <div class="col-sm">
        <div data-outlet="currencies"></div>
        <div data-outlet="mappings"></div>
    </div>
    <div class="col-sm">
        <div data-outlet="portfolio"></div>
        <div data-outlet="download"></div>
    </div>
</div>