<form data-action="submit">
    <div class="form-row">
        <div class="col">
            <input name="symbol" type="text" class="form-control" value="{{symbol}}" placeholder="Symbol" required>
        </div>
        <div class="col">
            <input name="category" type="text" class="form-control" value="{{category}}" placeholder="Category" required>
        </div>
        <div class="col">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fas fa-check"></i></button>
                <a href="#" class="btn btn-danger" data-action="cancel"><i class="fas fa-times"></i></a>
            </div>
        </div>
    </div>
</form>