<div class="my-4">
    <button data-action="go-dashboard" type="button" class="btn btn-success btn-block btn-sm">Go to Dashboard <i class="fas fa-arrow-alt-circle-right"></i></button>
</div>
<div data-outlet="brokerage"></div>
<div data-outlet="accounts"></div>
